*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Inter;
}
body{
  background:#23252c;
}
.InfoCard{
  border-radius: 5%;
  width:45%;
  text-align: center;
  margin-top:30px;
  margin-left: 30%;
  margin-right: 30%;
  background: #1A1B21;
  color: #fff;
}
.InfoCard .CareerName{
  color: #F3BF99;
}
.InfoCard small{
  margin: 20px;
}
img{
  width:100%;
  border-radius: 5%  5% 0 0;
}
.InfoCard .Buttons{
  padding:20px;
}
.InfoCard .Buttons button{
  /*margin: 5px;*/
  padding: 4px 12px;
  border-radius:10%;
  width: 100%;
}
.InfoCard .Buttons button ion-icon{
  color: #29466e;
}
.InfoCard .Buttons button ion-icon[name=mail]{
  font-size: 10px;
  text-align: center;
}
.App {
  text-align: center;
}
.About, .Interest{
  margin: 0px 20px;
  padding-bottom: 10px;
  text-align: initial;
  line-height: 1.5;
}
.About p, .Interest p{
  font-size: 0.6em;
  line-height: 1.5;
  letter-spacing: 0.09em;
}

.Icons{
  display: flex;
  background: #323336;
  padding: 15px;
  border-radius: 0px 0px 20px 20px ;
  justify-content: space-evenly;
}

@media only screen and (min-width: 600px){
  .Content{
    /*background:red;*/
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'about interest';
  }
  .About{
    grid-area: about;
  }
  .Interest{
    grid-area: interest;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
