*{
  margin: 0;
  padding:0;
  font-family: Inter;
}
.Nav{
  background: linear-gradient(-90deg, #0b2393 1.18%, #b70f57 100%);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:5px;
}
.Nav .leftNav{
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.Nav .rightNav{
  margin-right: 20px;
}
.logo{
  width:40px;
  margin:6px
}
.form{
  display: grid;
  grid-template: 40px 40px /1fr 1fr;
  gap:70px;
}