@media (prefers-reduced-motion: no-preference) {}

* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #672280 18%, #A626D3 100%);
  color: white;
  padding: 25px;
}

.header--image {
  /* height: 100%; */
  margin-right: 10px;
  width: 65px;
}

.header--title {
  font-size: 20px;
  margin-right: auto;
}

.header-project {
  font-size: 12px;
  font-weight: 500;
}