@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&family=Poppins:ital,wght@0,100;1,100;1,200&family=Roboto:wght@100&family=Source+Sans+3:wght@200&display=swap');
.App {
  text-align: center;
}
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing:border-box;
}
:root{
  --clr: #323336;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  background: var(--clr);
}
.navigation{
  width:500px;
  /*height: 70px;*/
  background: #fff;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}
.navigation .imageContainer{
  padding: 10px
}
.navigation .imageContainer .image{
  width: 40px;
}
.navigation ul {
  display: flex;
  width: 350px;
}
.navigation ul li {
  /*margin-right: 20px;*/
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}
.navigation ul li a{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}
.navigation ul li a .icon{
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color:var(--clr);
}
.navigation ul li:hover  a .icon{
  transform:translateY(-34px);
}
.navigation ul li a .text{
  position: absolute;
  color: var(--clr);
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
}
.navigation ul li:hover a .text {
  opacity: 1;
  transform: translateY(18px);
}
.indicator{
  position: absolute;
  top:-50%;
  width: 70px;
  height: 70px;
  background: #61dafb;
  border-radius:50%;
  border: 6px solid var(--clr);
  transition: 0.5s;
}
.indicator::before{
  content:" ";
  position: absolute;
  top:50%;
  left:-22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow: 0px -10px 0 0 var(--clr);
}
.indicator::after{
  content:" ";
  position: absolute;
  top:50%;
  right:-22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-left-radius: 20px;
  box-shadow: 0px -10px 0 0 var(--clr);
}
.mainContent{
  background: #7abeac;
  padding: 20px;
  border-radius: 10px;
}
.footer{
  background: #61dafb;
  padding: 10px;
  border-radius: 10px;

}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}







@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
