/*@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&family=Poppins:ital,wght@0,100;1,100;1,200&family=Roboto:wght@100&family=Source+Sans+3:wght@200&display=swap');*/

.App {
  text-align: center;
}
*{
  font-family: Inter;
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
:root{
 background: #5d3939;
}
.navBar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #21222A;
  width: 90%;
  text-align: center;
  margin: auto ;
  position: relative;
  padding: 20px;
}
.navBar .imageContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  margin:0;
}
.navBar .imageContainer > h3{
  margin: 10px;
  font-size: 22px;
  color: #61DAFB;
}
.navBar .titleBar{
  color: #fff;
  font-size: 0.9em;
}
.image{
  width: 40px;
}
.main{
  background: #323336;
  width: 90%;
  margin-left:5%;
  padding: 47px 27px;
  color: #fff;
  background-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0xMS41IC0xMC4yMzE3NCAyMyAyMC40NjM0OCI+CiAgPHRpdGxlPlJlYWN0IExvZ288L3RpdGxlPgogIDxjaXJjbGUgY3g9IjAiIGN5PSIwIiByPSIyLjA1IiBmaWxsPSIjNjFkYWZiIi8+CiAgPGcgc3Ryb2tlPSIjNjFkYWZiIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiPgogICAgPGVsbGlwc2Ugcng9IjExIiByeT0iNC4yIi8+CiAgICA8ZWxsaXBzZSByeD0iMTEiIHJ5PSI0LjIiIHRyYW5zZm9ybT0icm90YXRlKDYwKSIvPgogICAgPGVsbGlwc2Ugcng9IjExIiByeT0iNC4yIiB0cmFuc2Zvcm09InJvdGF0ZSgxMjApIi8+CiAgPC9nPgo8L3N2Zz4K");
  background-repeat: no-repeat;
  background-position-x: 133%;
  background-position-y: 75%;
  background-size: 40%;

}
.main h1{
 margin: 0;
  font-size: 39px;
  letter-spacing: -0.05em;
}
.main .mainFacts{
  margin-top: 46px;
  margin-left: 50px;
  max-width: 400px;
}
.main .mainFacts li{
  line-height: 2;
  font-weight: 600;
  letter-spacing: 0.05em;
}
.main .mainFacts li::marker{
  font-size: 1.6rem;
  color: #61DAFB;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
