* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #262626;
  color: d9d9d9;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter {
  display: flex;
  align-items: flex-end;
  transform: scale(2);
}

.counter>button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  cursor: pointe;
  background-color: #737373;
  color: rgb(175, 15, 122);
  font-size: 2.4rem;
}

.counter>button:hover {
  background-color: #494040;
  color: aliceblue;
}

.counter>button:focus {
  outline: none;
}

.counter--count {
  background-color: white;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter--plus {
  margin-left: -20px;
}

.counter--minus {
  margin-right: -20px;
  z-index: 1;
}