
*{
  font-family: Inter;
  margin: 0;
  padding:0;
}
:root{
--first-color: #F55A5A;
}
.Nav{
  width: 100%;
  position: fixed;
  height: 40px;
  background:var(--first-color);
  text-align: center;
}
.Nav h1{
  margin:8px;
  color: #fff;
  line-height: 18px;
}
