*{
  margin: 0;
  padding: 0;
}

/*colors*/
.gray{
  color: #595b60;
}
.bold{
  font-weight: bolder;
}

body{
  font-family: 'Poppins';
  text-align: inherit;
}
.Nav {
  position: fixed;
  width: 100%;
  display: flex;
  padding: 15px;
  box-shadow: 0px 2.98px 7.45px rgba(0, 0, 0, 0.3);
  background: white;
}
.hero{
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.hero .heroPhoto{
  max-width: 80%;
  margin:30px;
}
.hero .heroHeader{
  margin-top:-20px;
}
.hero .heroText{
  margin-top: 5px;
}
.mainCard{
  display: flex;
  justify-content: space-around;
}

.card{
  width:200px;
  height: 228px;
  font-size: 12px;
  margin: 10px;
}
.card .cardPhoto{
  width:80%;
  max-height: 70%;
  border-radius: 9px;
}
.card .cardStats{
  display: flex;
  align-items: center;
  /*justify-content: space-around;*/
}
.card .cardStar{
  height: 14px;
}
.card .cardMessage{
  text-align: left;
}


.footer{
  margin:100px;
}
.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
