*{
  box-sizing: border-box;
}
body{
  background-color: #70b834;
  margin:20px;
  color: #fff;
}
button{
  width: 100%;
  background-color: transparent;
  padding: 1rem;
  color: white;
  border: 2px solid white;
  border-radius: 50px;
  cursor:pointer;
  font-family: 'Karla', sans-serif;
  margin-bottom: 120px;
  font-size: 1.2rem;
}
button:hover{
  background-color: #fffef1;
  color: #70b834;
}
button:focus{
  outline: 0;
}